<template name="userCreated">
    <form id="user-created-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" class="form-control border-input" placeholder="Usuario" name="username">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control border-input" placeholder="Correo electronico" name="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control border-input" placeholder="Contraseña" name="password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre completo</label>
                    <input type="text" class="form-control border-input" placeholder="Nombre" name="fullname">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</template>