<template name="suppliersCreated">
    <form id="suppliers-created-form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre del proveedor</label>
                    <input type="text" class="form-control border-input" placeholder="Nombre" name="name">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</template>