<template name="loginMain">
    <div class="container">
        <div class="row" style="margin-top: 160px">
            <div class="col-md-4 col-md-offset-4">
                <form id="login-form">
                    <div class="card card-user">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="image">
                                        <img src="/img/logo.png" alt="Cabasso Logo"
                                             style="width: 80%; margin-top: 50px">
                                        <h6 style="color: #3949AB">Plataforma de administración</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre de usuario</label>
                                        <input type="text" class="form-control border-input"
                                               placeholder="Nombre de usuario" name="username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" class="form-control border-input"
                                               placeholder="Contraseña de usuario" name="password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <br>
                                <div class="col-md-12">
                                    <button class="btn btn-info" type="submit">Ingresar</button>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>