<template name="largeModal">
    <!-- Modal -->
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5>{{title}}</h5>
                </div>
                <div class="modal-body">
                    {{> Template.contentBlock}}
                </div>
            </div>
        </div>
    </div>
</template>