<template name="categoryCreated">
    <form id="category-created-form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre de la categoria</label>
                    <input type="text" class="form-control border-input" placeholder="Nombre" name="name">
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="row card-user">
                {{#if imageExist}}
                    <img class="avatar border-white" src="{{image}}" alt="...">
                {{else}}
                    <img class="avatar border-white"
                         src="{{noImage}}" alt="...">
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group image-preview">
                    <input name="urlImage" value="{{urlImage}}" type="text" class="form-control image-preview-filename"
                           disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                            <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="image-preview-input-title"><i class="material-icons" style="font-size: 15px">file_upload</i></span>
                            <input class="image-category" type="file" accept="image/png, image/jpeg, image/gif"
                                   name="input-file-preview"/> <!-- rename it -->
                        </div>
                    </span>
                </div><!-- /input-group image-preview [TO HERE]-->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</template>