<template name="subCategoriesMain">

    {{#each listSubCategories}}
        <div class="col-md-4">
            <div class="card">
                <div class="content text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="numbers">
                                Nombre
                                <p style="font-size: 13px">{{name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="numbers">
                                Categoria
                                <p style="font-size: 13px">{{getCategory category}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-success"><i class="material-icons">create</i></button>
                                </div>
                                <div class="col-md-4">
                                    <button class=" btn btn-info"><i class="material-icons">done</i></button>
                                </div>
                                <div class="col-md-4">
                                    <button class=" btn btn-danger remove-sub-category"><i class="material-icons">delete_forever</i>
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    {{> addButton data_target="sub-category-modal-create" }}
    {{# simpleModal title="Creación de sub-categoria" id="sub-category-modal-create"}}
        {{> subCategoryCreated}}
    {{/simpleModal}}
</template>