<template name="usersMain">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                {{#each listUsers}}
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="http://www.ki.com/uploadedImages/Images/Swatches/HPlastic_Navy_zm.jpg" alt="...">
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-white" src="{{noImage}}" alt="...">
                                    <h4 class="title">{{profile.fullName}}<br>
                                        <a href="#">
                                            <small>{{profile.email}}</small>
                                        </a>
                                    </h4>
                                </div>
                                <p class="description text-center">
                                    Estatus
                                    <br>
                                    {{#if profile.status}}
                                        <strong>"Activo"</strong>
                                    {{else}}
                                        <strong>"Desactivado"</strong>
                                    {{/if}}

                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class="btn btn-success"><i class="material-icons">create</i></button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class=" btn btn-info"><i class="material-icons">done</i></button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class=" btn btn-danger remove-user"><i class="material-icons">delete_forever</i>
                                        </button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        {{> addButton data_target="user-modal-create" }}
    </div>
    {{# simpleModal title="Creación de usuario" id="user-modal-create"}}
        {{> userCreated}}
    {{/simpleModal}}
</template>