<template name="productCreated">
    <form id="product-created-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre del producto</label>
                    <input type="text" class="form-control border-input" placeholder="Nombre" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Linea</label>
                    <select name="line" class="form-control border-input">
                        {{#each listLines}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>SubCategorias</label>
                    <input name="subcategories" type="text" class="form-control border-input search-sub-category" placeholder="Buscar sub-categoria">
                    <div class="p-relative list-subcategory" style="{{#if showList}}display:none;{{/if}}">
                        <div class="close-list">
                            <span class="close-list-sub-category"><i
                                    class="fa fa-times-circle-o f-2 text-muted"></i></span>
                        </div>
                        <div class="list-sub-category-content">
                            <ul class="list-group">
                                {{#each listSubCategories}}
                                    <li style="cursor: pointer" class="list-group-item select-sub-category" id="{{_id}}">{{name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {{#each showSubcategories}}
                        <a class="btn btn-info cancel-category" id="{{id}}">{{getNameSubCategory id}} <i style="font-size: 12px" class="material-icons">close</i></a>
                        {{#if divSubCategory id}}
                            <select class="div-subcategory" id="{{id}}">
                                <option value="null">Seleccione la división</option>
                                {{#each showListDivSubCategories id}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="row card-user">
                {{#if imageExist}}
                    <img class="avatar border-white" src="{{image}}" alt="...">
                {{else}}
                    <img class="avatar border-white" src="{{noImage}}" alt="...">
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group image-preview">
                    <input name="urlImage" value="{{urlImage}}" type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                        <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="image-preview-input-title"><i class="material-icons" style="font-size: 15px">file_upload</i></span>
                        <input class="image-product" type="file" accept="image/jpeg" name="input-file-preview"/> <!-- rename it -->
                    </div>
                </span>
                </div><!-- /input-group image-preview [TO HERE]-->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</template>