<template name="adminLayout">
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">

            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://cabasso.mx" class="simple-text">
                        <img src="/img/logo.png" alt="Cabasso Logo"
                             style="width: 80%; margin-top: 50px">
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="/admin">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/usuarios">
                            <i class="material-icons">supervisor_account</i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li>
                        <a href="/firmas">
                            <i class="material-icons">fingerprint</i>
                            <p>Firmas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/categorias">
                            <i class="material-icons">view_list</i>
                            <p>Categorias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/sub-categorias">
                            <i class="material-icons">list</i>
                            <p>SubCategorias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/div-sub-categorias">
                            <i class="material-icons">line_weight</i>
                            <p>Div. de SubCategorias</p>
                        </a>
                    </li>
                    <li>
                        <a href="/lineas">
                            <i class="material-icons">featured_play_list</i>
                            <p>Lineas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/proveedores">
                            <i class="material-icons">shopping_basket</i>
                            <p>Proveedores</p>
                        </a>
                    </li>
                    <li>
                        <a href="/productos">
                            <i class="material-icons">shopping_cart</i>
                            <p>Productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/productos-promocion">
                            <i class="material-icons">loyalty</i>
                            <p>Prod. en promoción</p>
                        </a>
                    </li>
                    <li>
                        <a href="/productos-principales">
                            <i class="material-icons">grade</i>
                            <p>Productos principales</p>
                        </a>
                    </li>
                    <li>
                        <a href="/configuracion">
                            <i class="material-icons">settings</i>
                            <p>Configuración</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-default" style="margin-left: 245px;margin-top: -50px">
                        <a class="navbar-brand" href="#" style="margin-left: 50px">{{siteName}}</a>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p class="notification">{{ currentUser.profile.fullName }}</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="exit-app">Salir <i class="material-icons">exit_to_app</i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content" style="margin-top: 100px">
                {{> Template.dynamic template=main}}
            </div>
        </div>
    </div>
</template>