<template name="fingersMain">
    {{#each listFingers}}
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image" style="height: 200px">
                    <img src="{{urlImage}}{{_id}}.jpg" alt="...">
                </div>
                <div class="" style="height: 110px">
                    <h4 class="title text-center"><a href="#"><small>Nombre</small><br></a><p>{{name}}</p></h4>
                    <p class="description text-center">
                        Link
                        <br>
                        <input type="text" value="{{getLink _id}}" style="width: 300px">
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success"><i class="material-icons">create</i></button>
                        </div>
                        <div class="col-md-4">
                            <button class=" btn btn-info"><i class="material-icons">done</i></button>
                        </div>
                        <div class="col-md-4">
                            <button class=" btn btn-danger remove-finger"><i class="material-icons">delete_forever</i>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    {{/each}}
    {{> addButton data_target="finger-modal-create" }}
    {{# simpleModal title="Creación de link de firma" id="finger-modal-create"}}
        {{> fingerCreated}}
    {{/simpleModal}}

</template>