<template name="categoriesMain">

    {{#each listCategories}}
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image" style="height: 200px">
                    <img src="{{urlImage}}{{_id}}.jpg" alt="...">
                </div>
                <div class="" style="height: 110px">
                    <h4 class="title text-center"><a href="#" style=""><small>Producto</small><br></a><p style="font-size: 15px">{{name}}</p></h4>
                    <p class="description text-center">
                        Estatus
                        <br>
                        {{#if status}}
                            <strong>"Activo"</strong>
                        {{else}}
                            <strong>"Desactivado"</strong>
                        {{/if}}
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success"><i class="material-icons">create</i></button>
                        </div>
                        <div class="col-md-4">
                            <button class=" btn btn-info"><i class="material-icons">done</i></button>
                        </div>
                        <div class="col-md-4">
                            <a class=" btn btn-danger remove-category"><i class="material-icons">delete_forever</i>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    {{/each}}

    {{> addButton data_target="category-modal-create" }}
    {{# simpleModal title="Creación de categoria" id="category-modal-create"}}
        {{> categoryCreated}}
    {{/simpleModal}}
</template>