<template name="addButton">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn btn-large btn-danger" data-toggle="modal" data-target="#{{data_target}}">
            <i class="material-icons">add</i>
        </a>
    </div>
</template>