<template name="configurationMain">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <form id="principal-page">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Configuración principal de la pagina</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre de la empresa</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="name" value="{{principalConfiguration.name}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>URL completa de FaceBook</label>
                                    <input type="url" class="form-control border-input" placeholder="Nombre"
                                           name="facebook" value="{{principalConfiguration.facebook}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Numero de telefono de la empresa</label>
                                    <input type="number" class="form-control border-input" placeholder="Nombre"
                                           name="phone" value="{{principalConfiguration.phone}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Correo electronico de la empresa</label>
                                    <input type="email" class="form-control border-input" placeholder="Nombre"
                                           name="email" value="{{principalConfiguration.email}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Eslogan primario</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="primarySlogan" value="{{principalConfiguration.primarySlogan}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Eslogan secundario</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="secondarySlogan" value="{{principalConfiguration.secondarySlogan}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Configuración de imagenes de la pagina principal</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <div class="row card-user">
                                    {{#if imageExist1}}
                                        <img width="200" class="img-responsive img-rounded center-block"
                                             src="{{image1}}"
                                             alt="...">
                                    {{else}}
                                        <img width="200" class="img-responsive img-rounded center-block"
                                             src="{{imagePrincipal}}"
                                             alt="...">
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <div class="row card-user">
                                    {{#if imageExist2}}
                                        <img width="200" class="img-responsive img-rounded center-block"
                                             src="{{image2}}"
                                             alt="...">
                                    {{else}}
                                        <img width="200" style="" class="img-responsive img-rounded center-block"
                                             src="{{imageSecondary}}"
                                             alt="...">
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen principal</label>
                            <div class="input-group image-preview">
                                <input name="urlImage" value="{{urlImage1}}" type="text"
                                       class="form-control image-preview-filename"
                                       disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                                    <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="image-preview-input-title"><i class="material-icons" style="font-size: 15px">file_upload</i></span>
                            <input class="image-principal" type="file" accept="image/png, image/jpeg"
                                   name="input-file-preview"/> <!-- rename it -->
                        </div>
                    </span>
                            </div><!-- /input-group image-preview [TO HERE]-->
                        </div>
                        <div class="col-md-6">
                            <label>Imagen de silla principal</label>
                            <div class="input-group image-preview">
                                <input name="urlImage" value="{{urlImage2}}" type="text"
                                       class="form-control image-preview-filename"
                                       disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                                    <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="image-preview-input-title"><i class="material-icons" style="font-size: 15px">file_upload</i></span>
                            <input class="image-secondary" type="file" accept="image/png, image/jpeg, image/gif"
                                   name="input-file-preview"/> <!-- rename it -->
                        </div>
                    </span>
                            </div><!-- /input-group image-preview [TO HERE]-->
                        </div>
                    </div>
                    <form id="save-image-and-url">
                        <div class="row">
                            <div class="text-center">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>URL del servidor estatico</label>
                                        <input type="text" class="form-control border-input" placeholder="Nombre"
                                               name="urlStaticServer"
                                               value="{{principalConfiguration.urlStaticServer}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Configuración principal de servicios</h3>
                        </div>
                    </div>
                    <form id="saveServicesConfiguration">


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de titulo de servicio 1</label>
                                    <input value="{{principalConfiguration.servicesTitle1}}" type="text" class="form-control border-input" placeholder="Nombre"
                                           name="title1">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de descripción del servicio 1</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="description1" value="{{principalConfiguration.servicesDescription1}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Icono que representa el servicio 1</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control border-input icon-1" name="icon1">
                                                <option value="{{principalConfiguration.servicesIcon1}}" selected></option>
                                                <option value="security">Seguridad</option>
                                                <option value="local_shipping">Envío</option>
                                                <option value="weekend">Sillón</option>
                                                <option value="phone">Teléfono</option>
                                                <option value="card_giftcard">Regalo</option>
                                                <option value="credit_card">Tarjeta de credito</option>
                                                <option value="favorite">Corazón</option>
                                                <option value="home">Casa</option>
                                                <option value="https">Candado</option>
                                                <option value="search">Lupa</option>
                                                <option value="mail_outline">Email</option>
                                                <option value="phonelink_ring">Celular</option>
                                                <option value="access_alarm">Alarma</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="material-icons" id="{{icon1}}">{{icon1}}</i>
                                            <i class="material-icons">{{principalConfiguration.servicesIcon1}}</i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de titulo de servicio 2</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="title2" value="{{principalConfiguration.servicesTitle2}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de descripción del servicio 2</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="description2" value="{{principalConfiguration.servicesDescription2}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Icono que representa el servicio 2</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control border-input icon-2" name="icon2">
                                                <option value="principalConfiguration.servicesIcon2}}"></option>
                                                <option value="security">Seguridad</option>
                                                <option value="local_shipping">Envío</option>
                                                <option value="weekend">Sillón</option>
                                                <option value="phone">Teléfono</option>
                                                <option value="card_giftcard">Regalo</option>
                                                <option value="credit_card">Tarjeta de credito</option>
                                                <option value="favorite">Corazón</option>
                                                <option value="home">Casa</option>
                                                <option value="https">Candado</option>
                                                <option value="search">Lupa</option>
                                                <option value="mail_outline">Email</option>
                                                <option value="phonelink_ring">Celular</option>
                                                <option value="access_alarm">Alarma</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="material-icons" id="{{icon2}}">{{icon2}}</i>
                                            <i class="material-icons">{{principalConfiguration.servicesIcon2}}</i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de titulo de servicio 3</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="title3" value="{{principalConfiguration.servicesTitle3}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de descripción del servicio 3</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="description3" value="{{principalConfiguration.servicesDescription3}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Icono que representa el servicio 3</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control border-input icon-3" name="icon3">
                                                <option value="{{principalConfiguration.servicesIcon3}}"></option>
                                                <option value="security">Seguridad</option>
                                                <option value="local_shipping">Envío</option>
                                                <option value="weekend">Sillón</option>
                                                <option value="phone">Teléfono</option>
                                                <option value="card_giftcard">Regalo</option>
                                                <option value="credit_card">Tarjeta de credito</option>
                                                <option value="favorite">Corazón</option>
                                                <option value="home">Casa</option>
                                                <option value="https">Candado</option>
                                                <option value="search">Lupa</option>
                                                <option value="mail_outline">Email</option>
                                                <option value="phonelink_ring">Celular</option>
                                                <option value="access_alarm">Alarma</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="material-icons" id="{{icon3}}">{{icon3}}</i>
                                            <i class="material-icons">{{principalConfiguration.servicesIcon3}}</i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de titulo de servicio 4</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="title4" value="{{principalConfiguration.servicesTitle4}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Texto de descripción del servicio 4</label>
                                    <input type="text" class="form-control border-input" placeholder="Nombre"
                                           name="description4" value="{{principalConfiguration.servicesDescription4}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Icono que representa el servicio 4</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control border-input icon-4" name="icon4">
                                                <option value="{{principalConfiguration.servicesIcon4}}"></option>
                                                <option value="security">Seguridad</option>
                                                <option value="local_shipping">Envío</option>
                                                <option value="weekend">Sillón</option>
                                                <option value="phone">Teléfono</option>
                                                <option value="card_giftcard">Regalo</option>
                                                <option value="credit_card">Tarjeta de credito</option>
                                                <option value="favorite">Corazón</option>
                                                <option value="home">Casa</option>
                                                <option value="https">Candado</option>
                                                <option value="search">Lupa</option>
                                                <option value="mail_outline">Email</option>
                                                <option value="phonelink_ring">Celular</option>
                                                <option value="access_alarm">Alarma</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="material-icons">{{icon4}}</i>
                                            <i class="material-icons">{{principalConfiguration.servicesIcon4}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <div class="col-md-12">
                                    <button class="btn btn-success" type="submit">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
