<template name="productsMain">
    {{#each listProducts}}
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image" style="height: 200px">
                    <img src="{{urlImage}}{{_id}}.jpg" alt="...">
                </div>
                <div class="" style="height: 110px">
                    <div class="row">

                        <div class="col-md-6">
                            <p class="description text-center" style="font-size: 13px">
                                Nombre
                                <br>
                                <strong>{{name}}</strong>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="description text-center" style="font-size: 13px">
                                Estatus
                                <br>
                                {{#if status}}
                                    <strong>"Activo"</strong>
                                {{else}}
                                    <strong>"Desactivado"</strong>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <a class="btn btn-info view-sub-categories" data-toggle="modal"
                               data-target="#view-sub-categories-modal-create">Ver SubCategorias</a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h4 class="title text-center"><a href="#">
                                <small>Linea</small>
                                <br></a><p>{{getNameLine line}}</p></h4>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success"><i class="material-icons">create</i></button>
                        </div>
                        <div class="col-md-4">
                            <button class=" btn btn-info"><i class="material-icons">done</i></button>
                        </div>
                        <div class="col-md-4">
                            <button class=" btn btn-danger remove-product"><i class="material-icons">delete_forever</i>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    {{/each}}
    {{> addButton data_target="product-modal-create" }}
    {{#largeModal  title="Creación de producto" id="product-modal-create"}}
        {{> productCreated}}
    {{/largeModal}}
    {{#simpleModal  title="SubCategorias del producto" id="view-sub-categories-modal-create"}}
        {{#each subCategories}}
            <div class="alert alert-success">
                <span><b>  Nombre de sub-categoria: </b> "{{getNameSubcategory id}}"</span>
                <br>
                <span><b>  Nombre de div-sub-categoria: </b> "{{getNameDivSubcategory idDivSubCategory}}"</span>
            </div>
        {{/each}}
    {{/simpleModal}}
</template>