<template name="subCategoryCreated">
    <form id="sub-category-created-form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nombre de la sub-categoria</label>
                    <input type="text" class="form-control border-input" placeholder="Nombre" name="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Categoria a la que pertenece</label>
                    <select name="category" class="form-control border-input">
                        {{#each listCategories}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</template>