<template name="App_notFound">
  <div id="not-found">
    <div class="not-found-image">
      <img src="/img/404.svg" alt="" />
    </div>
    <div class="not-found-title">
      <h1>Upps, Esta pagina no existe</h1>
      <a href="/usuarios" class="gotohomepage">Regresar</a>
    </div>
  </div>
</template>
